<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <system.web>
    <compilation defaultLanguage="c#" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="51200" />
  </system.web>

  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False" />
    </defaultProxy>
  </system.net>

</configuration>
